@import "tailwindcss";

@theme {
  --color-brand-50: #f8fafc;
  --color-brand-100: #f1f5f9;
  --color-brand-300: #cbd5e1;
  --color-brand-500: #64748b;
  --color-brand-600: #0f172a;
  --color-brand-700: #020617;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased selection:bg-brand-100 selection:text-brand-700;
  }
}
